.mainCard {
  border: 5px solid #111184;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.titleCard {
  text-align: center;
}

.descricaoCard {
  align-self: flex-start;
  text-align: left;
}

.linkCard {
  text-align: center;
}
